.about {
    padding-bottom: 340px;

    &__right {
        color: $text-color;
        font-size: 14px;
    }


    &__title {
        font-size: 24px;
        font-weight: bold;
        padding: 35px 0;
    }

    &__text {
        padding-bottom: 85px;
    }

}

.about__container {
    display: flex;
    justify-content: space-between;
    width: 53%;
    padding-top: 180px;
}

.about__left {
    width: 60%;
    margin-right: 50px;
}

