.socials {
    display: flex;
    align-items: center;
}

.socials__elem {
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }


}

.social__icon {
   width: 28px;
   height: 31px;
    display: block;
}

.social__icon {
    transition: all .5s ease;
    fill: #67696f; 
    &:hover {
        fill: #ad00ed;
    }
}

.socials__elem--footer {
    padding-top: 20px;
}
