.socials {
    display: flex;
    align-items: center;
}

.socials__elem {
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }
}

.social__icon {
   width: 28px;
   height: 31px;
    display: block;
}