.triangles {
    display: flex;
    margin-top: -100px;
}

.triangles__item {
    width: 50%;
    display: block;
    height: 100px;
    fill: #fff;
}

.triangles__bottom {
    display: flex;
    margin-bottom: -100px;
}