.values {
    padding: 140px 0;
}

.values__title {
    display: flex;
    justify-content: center;

}

.values__desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 40%;
    font-size: 14px;
    color: $text-color;
}

.values__title-text {
    font-size: 20px;
    padding-bottom: 50px; 
}

.values__text {
    line-height: 1.7;
}